# Spin up the caddy server with `caddy run` or `yarn caddy`
# this is useful to test the github oauth flow locally

payloadcms.local {
  # tls ./certificates/localhost.pem ./certificates/localhost-key.pem
  tls internal

  reverse_proxy 127.0.0.1:3000
}
